*,
html {
  margin: 0 auto;
  padding: 0;
  overflow-x: hidden;
  font-family: "Lato", sans-serif;
  max-width: 1500px;
}

.logo {
  margin-top: 2em;
  text-align: center;
}

/* Search Bar */
#search-bar {
  margin: 1em 5em;
  display: flex;
}

#search {
  width: 98%;
  background-color: #e7e7e7;
  border: none;
  border-radius: 5px;
  padding: 1em;
  color: black;
}

label {
  margin-left: -3em;
  margin-top: 0.7em;
}

.search-loupe{
  z-index: 1;
  margin-left: -3em;
}

/* Afficahge des recettes */

.recipe-card {
  text-align: center;
  background-color: #e7e7e7;
  margin: 1em 1em;
  height: 370px;
  width: 30%;
  border-radius: 5px;
  padding: 0;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.recipe-card-img {
  margin: 0;
  height: 22em;
}

.back-img {
  width: 100%;
  height: 11em;
  object-fit: cover;
}

.container-header {
  display: flex;
  margin-top: -10em;
  padding: 0;
  font-size: 18px;
  justify-content: space-around;
  width: 100%;
  margin-bottom: 0.5em;
}

.recipe-title {
  width: 65%;
  margin: 1em 1em 1em 1em;
  text-align: left;
}

.time {
  display: flex;
  flex-direction: row-reverse;
  margin: 1em auto;
}

.timer {
  width: 1em;
  margin-right: 0.5em;
}

.instructions {
  display: flex;
  font-size: 12px;
  width: 100%;
  height: 109px;
  padding: 0;
  margin: -1em 1em auto 1em;
}

.ingredients {
  width: 40%;
  text-align: left;
  margin-left: 0.5em;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.ingredients p {
  margin-bottom: 0;
}

.recette {
  width: 50%;
  text-align: left;
  margin-left: -1em;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

/* Dropdowns */
#filter-tab {
  display: flex;
  flex-direction: row;
  /* margin-right: 40em; */
  margin-bottom: 2em;
}

.filtre{
  width: 10em;
  height: 4em;
  margin-right: 3em;
  color: #FFFFFF;
  font-weight: 700;
  border-radius: 5px;
  padding: 0.5em 1em;
  margin-left: 5em;
}

.ingredients-filter{
  background-color: #3282F7;
}

.appareils-filter{
  background-color: #68D9A4;
  margin-left: -1em;
}

.ustensils-filter{
  background-color: #ED6454;
  margin-left: -1em;
}

.filtre-title{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 0.3em;
}

.filtre-title p {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: 0em;
}

.filtre-title img{
  width: 1em;
  height: 0.7em;
  margin: auto 0;
  cursor: pointer;
}

#filtre-input-ingredients{
  display: none;
}

#filtre-input-ingredients.active{
  display: block;
  position: absolute;
  width: fit-content;
  background-color: #3282F7;
  border-radius: 5px;
  padding: 1em;
  margin-top: -3.3em;
  margin-left: -1em; 
  z-index: 1;
}

#filtre-input-appareils{
  display: none;
}

#filtre-input-appareils.active{
  display: block;
  position: absolute;
  width: fit-content;
  background-color: #68D9A4;
  border-radius: 5px;
  padding: 1em;
  margin-top: -3.3em;
  margin-left: -1em; 
  z-index: 1;
}

#filtre-input-ustensils{
  display: none;
}

#filtre-input-ustensils.active{
  display: block;
  position: absolute;
  width: fit-content;
  background-color: #ED6454;
  border-radius: 5px;
  padding: 1em;
  margin-top: -3.3em;
  margin-left: -1em; 
  z-index: 1;
}

#filtre-input-appareils.active .container-input{
  display: flex;
  align-items: baseline;
}

#filtre-input-ustensils.active .container-input{
  display: flex;
  align-items: baseline;
}

label{
  display: none;
}

input{
  background-color: transparent;
  border: none;
  color: #FFFFFF;
  opacity: 0.5;
  font-weight: 700;
  font-size: 1em;
  padding: 1em;
  width: 94%;
}

input:focus{
  outline: none;
}

#arrow-up-ingredient{
  padding-left: 2em;
  padding-right: 1em;
}

#arrow-up-appareil{
  padding-left: 2em;
  padding-right: 1em;
}

#arrow-up-ustensil{
  padding-left: 2em;
  padding-right: 1em;
}

#ulfilter-ing{
  display: flex;
  flex-direction: column;
  column-count: 3;
  flex-wrap: wrap;
  max-height: 35em;
  width: 78em;
  border: none;
  background-color: #3282f7;
  overflow: hidden;
  padding-left: 0.5em;
}

#ulfilter-app{
  padding-left: 0.5em;
}

#ulfilter-ust{
  display: flex;
  flex-direction: column;
  column-count: 2;
  width: 20em;
  flex-wrap: wrap;
  max-height: 22em;
  padding-left: 0.5em;
}

.lifilterIng, .lifilterApp, .lifilterUst {
  margin: auto 1em 0.5em 0.5em;
  font-size: 0.8em;
  width: 10em;
  white-space: nowrap;
  text-overflow: ellipsis;
  cursor: pointer;
  color: white;
  text-transform: capitalize;
  /* display: block; */
}

/* Filtre Appareils */
.input-appareil,
.input-appareil:focus,
.input-appareil:hover,
.btn-appareil,
.btn-appareil:focus,
.btn-appareil:hover,
.ul-appareil.show {
  background-color: #68d9a4;
}

.ul-appareil.show {
  width: 15.5%;
}

/* Filtre ustensils */

.input-ustensils,
.input-ustensils:focus,
.input-ustensils:hover,
.btn-ustensils,
.btn-ustensils:focus,
.btn-ustensils:hover,
.ul-ustensils.show {
  background-color: #ed6454;
}

.ul-ustensils.show {
  width: 30%;
  max-height: 20em;
}

/* TAGS BAR */

#tags-bar{
  margin-left: 4.5em;
}

#tags-bar p {
  font-size: 15px;
}
#tags-bar ul {
  display: flex;
  flex-wrap: wrap;
  padding: 7px;
  margin: 12px 0;
}
#tags-bar ul li {
  color: #FFFFFF;
  margin: 4px 3px;
  list-style: none;
  border-radius: 5px;
  padding: 0.5em 1em;
}

#tags-bar ul .tagIng {
  background: #3282f7;
}

#tags-bar ul .tagApp {
  background: #68D9A4;
}

#tags-bar ul .tagUst {
  background: #ED6454;
}

#tags-bar ul li .close-cross {
  margin-left: 8px;
  font-size: 12px;
  cursor: pointer;
  justify-content: center;
}


/* Pas de recettes */

.texte-vide{
  margin: 3em auto;
  text-align: center;
}

/* Media queries tablette */

@media screen and (min-width: 768px) and (max-width: 1023px) {
   .recipe-card{
    width: 45%;
   }

   .time{
    width: 30%;
    margin-right: 1em;
   }
}

/* Media queries mobile */

@media screen and (max-width: 767px) {

  .filtre{
    margin: 0.5em;
    width: 9em;
    font-size: 0.7em;
  }

  #filtre-input-ingredients.active {
    width: 93%;
  }

  #filtre-input-ustensils.active {
   margin-left: -8em;
  }

  .ingredients-filter{
    margin-left: 1.5em;
  }

  input{
    width: 85%;
  }

  #ulfilter-ing{
    column-count: 2;
    width: 40em;
    max-height: 100em;
  }

  .recipe-card{
   width: 95%;
  }
}